.item-title {
  font-size: x-large;
  text-transform: uppercase;
  word-spacing: 0.3rem;
  margin: 0.5rem 0 2rem 0;
}

.item-summary-and-stats {
  display: flex;

  .item-summary {
    padding: 0 3rem;
  }

  .item-summary:first-child {
    padding-left: 0;
  }
}

.list-header {
  background-color: $gray-color;
  color: $primary-color;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: smaller;
}

.list-row {
  display: flex;
  justify-content: space-between;
  font-size: small;

  span:first-child {
    font-weight: 500;
  }
}
