.item-title {
  font-size: x-large;
  text-transform: uppercase;
  word-spacing: 0.3rem;
  margin: 0.5rem 0 2rem 0;
}

.item-summary-and-stats {
  display: flex;
  .item-summary:first-child {
    border-right: 3rem solid transparent;
  }
  .item-summary:nth-child(2) {
    border-left: 3rem solid transparent;
  }
}

.item-summary {
  box-sizing: border-box;
  position: relative;
  width: 35%;
}

.item-summary::before {
  content: "";
  border: 1px solid red;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.list-header {
  background-color: $gray-color;
  color: $primary-color;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: smaller;
}

.list-row {
  display: flex;
  justify-content: space-between;
  font-size: small;

  span:first-child {
    font-weight: 500;
  }
}
