.outside_container {
 
    height: 100%;

    padding: 60px 40px;
    overflow: hidden; 
  border-bottom-style: ridge;
}

.containment {
   display: block;
   float: left; 
   padding: 10px;
   position: relative; 
 
}

.top_label {
    display: block;
    margin-bottom: 0px;
}


.submit_button {
    float: right;
    padding: 5px; 
     clear: both;

}




