@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,800,900&display=swap");
@import "./base/settings";
@import "./Components/sidebar.scss";
@import "./Components/chartContainer.scss";
@import "./Components/chart.scss";
@import "./Components//itemdetails.scss";

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  //  App Container
  .app-container {
    display: flex;
    font-family: "Poppins";
  }

  //  Content Container
  .content-container {
    margin-left: 10rem;
    width: 100%;
  }
}
